body{
	font-family: "Open Sans", sans-serif;
}

.title{
	text-align: center;
}

  .bar {
    width: 25px;
    height: 100px;
    margin: 2px;
    display: inline-block;
    background-color: blue;
  }